{#
/**
 * @file post_entity.html.twig
 * Default theme implementation to present Post entity data.
 *
 * This template is used when viewing Post entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_post_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('post_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
